.related__details {
        height: 100vh;
        max-width: 1700px;
        width: 100%;
        margin: 0 50px;
        position: relative;
        bottom: 200px;

        .movies__details {
                display: flex;
                text-align: center;
                gap: 20px;
                width: 100%;
                padding: 0 50px;
                margin: 0 700px;
                margin-bottom: 20px;

                .btn__related,
                .btn__details {
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        cursor: pointer;
                        font-size: 1.29rem;
                        font-weight: bold;
                }

                button.ativo {
                        border-bottom: 2px solid #fff;
                        
                }
        }

        .carousel__titles {
                font-size: 1.29rem;
        }

        .carousel {
                display: flex;
                align-items: flex-start;
                column-gap: 20px;
                flex-direction: row;
                margin-top: 20px;

                .content__carousel {
                        

                        picture img {
                                width: 276px;
                                height: 155px;
                                border-radius: 12px;
                                cursor: pointer;
                                transition: all ease .2s;

                                &:hover {
                                        transform: scale(1.1);
                                }

                        }

                        .content_svg {
                                display: flex;
                                align-items: center;
                                padding-top: 5px;
                                gap: 10px;
                                text-align: left;
                                line-height: 25px;
                                font-size: 1.13rem;
                                margin-bottom: 20px;
                        }
                }
        }



}

